<!Doctype HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SherpaBuddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="Intro">
        <img src="{{ url_for('static', filename='images/Background.png') }}" alt="SherpaBuddy Background">

        <div class="IntroContent">
            <h4>Welcome to</h4>
            <h1>SherpaBuddy</h1>
            <p>Your Trek. Our Responsibility.</p>
        </div>
    </div>
</body>

</html>