{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
<form method="POST" action="{{ url_for('auth.register_customer') }}">
{{ form.hidden_tag() }}
    <div>
        {{ form.name.label() }}
        {{ form.name() }}
        {% for error in form.name.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
    <br>

    <div>
        {{ form.email.label() }}
        {{ form.email() }}
        {% for error in form.email.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
    <br>

    <div>
        {{ form.phone_number.label() }}
        {{ form.phone_number() }}
        {% for error in form.phone_number.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
    <br>

    <div>
        {{ form.password.label() }}
        {{ form.password() }}
        {% for error in form.password.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
    <br>

    <div>
        {{ form.confirm_password.label() }}
        {{ form.confirm_password() }}
        {% for error in form.confirm_password.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
    <br>

    <div>
        {{ form.submit() }}
    </div>

</form>
{% endblock %}
